div {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fff;
  animation-name: move-top;
  animation-duration: 5s;
}

@keyframes move-top {
  from {
    bottom: 0;
  }
  to {
    top: 0;
  }
}

