* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 18px;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", sans-serif;
  line-height: 1.3em;
  color: #000;
  background-color: #fff;
}

.wrapper {
  width: 90%;
  margin: 5%;
  position: relative;
}

.header {
  position: relative;
  height: 300px;
  background: #64495a url("../images/header-bg3.jpg") 0 0 no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
  filter: grayscale(60%);
  padding: 0 5%;
  text-align: left;
  text-decoration: none;
  font-weight: 300;
  color: #eee;
  font-family: "Kanit", "Spoqa Han Sans", sans-serif;
  padding: 4.5%;
  font-weight: 100;
}

.right-section {
  position: absolute;
  right: 2%;
  bottom: 15%;
}

.right-section > #clock {
  bottom: 5%;
  text-shadow: 1.5px 2.5px 0.2px rgba(51, 51, 51, 0.7);
  font-size: 48px;
}

.left-section .right-section {
  width: 50%;
  height: inherit;
  display: inline-block;
}

.left-section > h1 {
  position: absolute;
  top: 15%;
  font-weight: inherit;
  line-height: 1.3em;
  font-size: 48px;
  letter-spacing: 0.115em;
  font-size: 48px;
}

#today {
  letter-spacing: 0.045em;
  font-size: 14px;
  position: absolute;
  bottom: 12%;
  left: 5.4%;
}

.progress {
  position: absolute;
  left: 0;
  bottom: -7%;
  width: 100%;
  height: 18px;
  overflow: hidden;
}

.progress-wrap {
  background: #ccadaf;
  margin: 20px 0;
}

.progress-wrap .progress-bar {
  background: #ddd;
}

.contents {
  height: 480px;
  border-radius: 0 0 12px 12px;
  background-color: rgba(238, 238, 238, 0.6);
}

.todo-label {
  font-size: 14px;
  color: #777;
  transform: translateY(25px);
  transition: all 0.5s;
}

.input {
  width: 100%;
  border-style: none none solid none;
  border-color: #ccadaf;
  outline: none;
  padding: 8px 0;
  position: relative;
  background: transparent;
  font-size: 14px;
}

.todo-input-group {
  display: none;
  position: relative;
  padding: 2.5%;
}

.todo-input-group::before .todo-input-group::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.todo-input-group::after {
  background-color: #a59091;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .todo-label {
  color: #a59091;
}

.is-completed .todo-label {
  font-size: 12px;
  transform: translateY(0);
}

.button {
  float: right;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  padding-bottom: 5px;
  border-color: transparent;
  background-color: #ccadaf;
  font-size: 32px;
  color: #f7f7f7;
}

.todo-list-group {
  padding: 2.5%;
}

.list-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #777;
  letter-spacing: 0.115em;
}
