$width: 100px; // global variable
header {
  width: $width;
  margin: 0 auto;
}

#main {
  width: $width;
  $color: #333 !global; // local variable
  margin: 20px auto;
  section {
    p {
      color: $color;
      a:link {
        color: $color;
      }
    }
  }
}

#foo {
  width: $width + 10; //110px
}

#errorfoo{
  width: calc($width + 10em);
}

#bar {
  width: $width + 10in; //1060px
}

footer {
  width: $width;
  margin: 0 auto;
  color: $color;
}