@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

body {
    font-family: 'Titillium Web', 'Nanum Pen Script', cursive, sans-serif;
    ;
    color: #58666e;
    background-color: #fff;
}

h1 {
    font-family: sans-serif;
    font-size: 46px;
    font-weight: bolder;
}

p {
    padding: 10px 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 2000;
    background-color: white;
}

nav {}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    height: 100px;
    padding: 10px;
    display: inline-block;
}

.logo>img {
    position: absolute;
    top: 50%;
    left: 3%;
}

.top-nav {
    position: absolute;
    top: 3%;
    left: 15%;
    display: inline-block;
}

.top-nav>ul>li {
    display: inline-block;
    padding: 10px;
}

.top-nav>ul>li>a {
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color: rgba(59, 56, 56, 0.7);
}

.top-nav>ul>li>a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgba(1, 166, 123, 0.8);
}

.login-block {
    position: absolute;
    top: 15%;
    right: 5%;
    margin: 3% 3% 0;
}

.login {
    color: rgba(59, 56, 56, 0.7);
    background-color: transparent;
    border: none;
}

.login:hover {
    color: rgba(1, 166, 123, 0.8);
    background-color: transparent;
    border: none;
}

.sign-up {
    color: rgba(1, 166, 123, 0.8);
    border: 1px solid rgba(1, 166, 123, 0.5);
    border-radius: 5px;
    background-color: transparent;
}

.sign-up:hover {
    background-color: rgba(1, 166, 123, 0.8);
    color: white;
    border-radius: 5px;
}

button {
    display: inline-block;
    margin: 2px;
    padding: 25px;
    font-weight: bold;
    padding: 5px 20px;
}

div {
}

section {
    position: relative;
    margin: 100px;
    text-align: center;
    width: 100%;
}

.main::after {
    content: "";
    display: block;
    clear: both;
}

.main-content {
    position: absolute;
    top: 200px;
    left: 3%;
    margin: 15px;
    width: 50%;
    display: inline-block;
}

input {
    border: 1px;
    width: 70%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 0.18em;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    background-color: rgba(40, 40, 40, 0.1);
}

#main-content-button {
    width: 30%;
    float: right;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    background-color: rgba(1, 166, 123, 0.8);
}

#main-content-button:hover{
    background-color: rgba(1, 166, 123, 0.4);
}

.main-content-img {
    float: right;
}

footer {}