<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partial/head.ejs %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="center-align">AJAX CRUD using JSON wirh webpack + babel + sass</h1>
      </div>
        <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="email" id="userid" class="validate" required>
            <label for="userid">Email</label>
            <span class ="warning-label"></span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="password" id="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input type="text" id="firstname" class="validate">
            <label for="firstname">First Name</label>
          </div>

          <div class="input-field col s6">
            <input type="text" id="lastname" class="validate">
            <label for="lastname">Last Name</label>
          </div>
        </div>
      </form>
    </div>

    <div class="row center-align">
      <div class="col s3">
        <a class="waves-effect waves-light btn flow-text" id="get-btn">GET</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn flow-text" id="post-btn">POST</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn flow-text" id="put-btn">PUT</a>
      </div>
      <div class="col s3">
        <a class="waves-effect waves-light btn flow-text" id="del-btn">DELETE</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel view-wrap">
          <span id="viewer" class="flow-text">
          </span>
        </div>
      </div>
    </div>
  </div>
  <% include ./partial/script.ejs %>
</body>

</html>
