* {
  margin: 0;
  padding: 0;
  font-family: "'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif";
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  line-height: 1.3em;
  font-size: 18px;
  color: #000;
}

.wrapper {
  width: 90%;
  margin: 5%;
  position: relative;
}

.header {
  position: relative;
  height: 300px;
  background: #64495a url("../images/header-bg3.jpg") 0 0 no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
  filter: grayscale(60%);
  padding: 0 5%;
  text-align: left;
  text-decoration: none;
  font-weight: 300;
  color: #eee;
  font-family: "'Kanit', 'Spoqa Han Sans', sans-serif";
  padding: 4.5%;
  font-weight: 100;
}

.right-section {
  position: absolute;
  right: 2%;
  bottom: 15%;
}

.right-section > #clock {
  bottom: 5%;
  text-shadow: 1.5px 2.5px 0.2px rgba(51, 51, 51, 0.7);
  font-size: 48px;
}

.left-section .right-section {
  width: 50%;
  height: inherit;
  display: inline-block;
}

.left-section > h1 {
  position: absolute;
  top: 15%;
  font-weight: inherit;
  line-height: 1.3em;
  font-size: 48px;
  letter-spacing: 0.115em;
  font-size: 48px;
}

#today {
  letter-spacing: 0.045em;
  font-size: 14px;
  position: absolute;
  bottom: 12%;
  left: 5.4%;
}

.progress {
  position: absolute;
  left: 0;
  bottom: -7%;
  width: 100%;
  height: 18px;
  overflow: hidden;
}

.progress-wrap {
  background: #ccadaf;
  margin: 20px 0;
}

.progress-wrap .progress-bar {
  background: #ddd;
}

.contents {
  height: 480px;
  border-radius: 0 0 12px 12px;
  background-color: rgba(238, 238, 238, 0.6);
  overflow: scroll;
}

.input {
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
  margin: 5px 0;
  padding: 1.2%;
  position: relative;
  border-radius: 12px 0 0 12px;
  background: rgba(181, 181, 181, 0.2);
  font-size: 14px;
}

#todo-input::-webkit-input-placeholder {
  color: rgba(170, 170, 170, 0.8);
}

#todo-input:-ms-input-placeholder {
  color: rgba(170, 170, 170, 0.8);
}

#todo-input::-moz-placeholder {
  color: rgba(170, 170, 170, 0.8);
}

#todo-input:-moz-placeholder {
  color: rgba(170, 170, 170, 0.8);
}

.focus-on {
  box-shadow: -1px -1px 10px #ccadaf;
  background: rgba(224, 204, 206, 0.2);
}

.focus-out {
  box-shadow: none;
}

.todo-input-group {
  width: 100%;
  display: none;
  position: relative;
  padding: 2.5%;
}

.button {
  float: right;
  cursor: pointer;
  margin: 5px 0;
  border: none;
  color: #f7f7f7;
  background: #ccadaf;
}

#list-del-btn {
  height: 0px;
  background: transparent;
  color: #b88e90;
  font-size: 14px;
}

#list-add-btn {
  width: 20%;
  height: 30px;
  font-size: 14px;
  border-radius: 0 12px 12px 0;
}

#input-onoff-btn {
  width: 45px;
  height: 45px;
  margin: 10px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ccadaf;
  font-size: 18px;
}

.todo-list-group {
  padding: 2.5%;
}

.list-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #777;
  letter-spacing: 0.115em;
}

.todo-list {
  margin: 3% 0;
}

.todo-list li {
  padding: 0 5%;
  text-align: left;
  text-decoration: none;
  font-weight: 300;
  list-style: none;
  margin-top: 2%;
  padding: 2.5%;
  font-size: 16px;
}

.completed-group {
  padding: 2.5%;
}
