// color

$color-font: #333;
$color-main: #8dbaa8;
$color-main-suv: #b3dfc9;
$color-darkgray: #5c5757;
$color-link-blue: #4688aa;
$color-lightgray: #e6e6e6;

// font
$font-sans: 'Lato', 'Noto Sans KR', sans-serif;
$font-serif: 'Slabo 27px', serif;
$font-design: 'Libre Barcode 39 Text', cursive;
$font-mono: 'Anonymous Pro', monospace;

// font-size
$font-size-XXL: 32px;
$font-size-XL: 28px;
$font-size-L: 24px;
$font-size-R: 20px;
$font-size-S: 14px;
$font-size-XS: 10px;

// font-weight

$font-w-thin: 200;
$font-w-normal: 300;
$font-w-bold: 400;
