// color

$color-font: #333;
$color-main: #8dbaa8;
$color-main-suv: #b3dfc9;
$color-darkgray: #5c5757;
$color-link-blue: #4688aa;
$color-lightgray: #e6e6e6;

// font
$font-sans: "'RobotoNormal', 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'";
$font-serif: "'Roboto Slab', serif";
$font-mono: "'Anonymous Pro', monospace";

// font-size
$font-size-XXL: 32px;
$font-size-XL: 28px;
$font-size-L: 24px;
$font-size-R: 20px;
$font-size-S: 14px;
$font-size-XS: 10px;
