// fonts
$font-title: 'Biryani', serif;
$font-sans: 'Open Sans', 'Spoqa Han Sans', sans-serif;
$font-serif: 'BioRhyme', serif;
$font-size-default: 18px;
$font-size-small: 14px;
$font-size-title: 30px;
$line-height: 1.6em;
$line-height-title: 160px;
$letter-spacing: 0.115em;
$font-weight-title: 200;
$font-weight-content: 300;

// color
$font-color-default: #000;
$font-color-button: #f7f7f7;
$font-color-contents-sub: #777;
$color-theme: #b0e0e6;
$color-theme-hover:#e8f8f9;
$color-background-header: #344557;
$color-background-wrapper: rgba(#eee, .6);
$color-content-line: #b5b5b5;
$color-complete: #949fdd;
// height
$height-header: 200px;
$height-contents: 480px;
// border
$radius: 12px;
//margin
$padding-contents: 2.5%;