// fonts
$font-title: 'Kanit', 'Spoqa Han Sans', sans-serif;
$font-sans: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
$font-serif: 'BioRhyme', serif;
$font-size-title: 48px;
$font-size-default: 18px;
$font-size-middle: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;
$line-height: 1.3em;
$letter-spacing: 0.115em;
$font-weight-title: 100;
$font-weight-content: 300;
$font-weight-thick: 400;

// color
$font-color-header: #eee;
$font-color-default: #000;
$font-color-button: #f7f7f7;
$font-color-contents-sub: #777;
$color-theme: #ccadaf;
$color-theme-hover: tint($color-theme, 20%);
$color-theme-shade: shade($color-theme, 40%);
$color-background-header: #64495a;
$color-background-wrapper: rgba(#eee, .6);
$color-content-line: #b5b5b5;
$color-complete: #a59091;
// height
$height-header: 300px;
$height-contents: 480px;
// border
$radius: 12px;
//margin
$padding-contents: 2.5%;
$padding-header: 4.5%;